<a href="https://colab.research.google.com/github/kwb425/class-2024-fall/blob/main/class-2024-fall_1101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
## Lecture 1: Connecting to Databases

**Objective:** Learn how to install and connect to databases like MySQL and SQLite using Python.

### Introduction
- **Why Connect to Databases?**: In data analysis and manipulation, databases serve as repositories for structured data. Connecting to databases allows us to fetch, update, and manage this data programmatically using Python.

### Code Demonstration

In [ ]:
# Install MySQL Server
!apt-get update
!apt-get install mysql-server

# Start the MySQL service
!service mysql start

In [ ]:
# Log in to MySQL as root
!mysql -u root

```mysql
DROP USER IF EXISTS 'test'@'localhost';
CREATE USER 'test'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY '1234';
GRANT ALL PRIVILEGES ON *.* TO 'test'@'localhost' WITH GRANT OPTION;
FLUSH PRIVILEGES;
```

```mysql
DROP DATABASE IF EXISTS TestDataset;
CREATE DATABASE TestDataset;
CREATE TABLE TestDataset.TestTable (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(255),
    Age INT
);
INSERT INTO TestDataset.TestTable (Name, Age) VALUES
('John', 30),
('Alice', 25),
('Bob', 35);
exit;
```

In [ ]:
!pip uninstall mysql-connector
!pip uninstall mysql-connector-python
!pip install mysql-connector-python

In [4]:
# Import the necessary libraries
import mysql.connector

# Connect to MySQL
mysql_conn = mysql.connector.connect(
    host="localhost",  # Database server address
    user="test",  # Database username
    password="1234",  # User's password
    database="TestDataset" # Name of the database
)

---
## Lecture 2: Executing SQL Queries

**Objective:** Learn how to execute SQL queries using Python.

### Introduction
- **Importance of SQL**: SQL (Structured Query Language) is used to interact with databases. Python can be used to execute SQL queries, making it a powerful tool for working with databases.

### Code Demonstration

In [ ]:
# Create a cursor object
mysql_cursor = mysql_conn.cursor(buffered=True)

# Execute SQL queries
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")

# Fetch data from the queries
mysql_result = mysql_cursor.fetchall()

print(mysql_result)


---
## Lecture 3: CRUD Operations

**Objective:** Learn how to perform CRUD operations (Create, Read, Update, Delete) on a database using Python.

### Introduction
- **CRUD Operations**: CRUD stands for Create, Read, Update, and Delete. These are fundamental database operations used to manipulate data within a database.

### Code Demonstration

In [ ]:
# CREATE: Insert a new record
mysql_cursor.execute("INSERT INTO TestDataset.TestTable (Name, Age) VALUES (%s, %s)", ("John Doe", 30))
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
mysql_result = mysql_cursor.fetchall()
print(f"CREATE exampl: {mysql_result}")

# READ: Retrieve data
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable WHERE Name = 'John Doe'")
mysql_result = mysql_cursor.fetchone()
print(f"READ example: {mysql_result}")


# UPDATE: Update existing data
mysql_cursor.execute("UPDATE TestDataset.TestTable SET Age = 31 WHERE Name = 'John Doe'")
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
mysql_result = mysql_cursor.fetchall()
print(f"UPDATE example: {mysql_result}")


# DELETE: Delete data
mysql_cursor.execute("DELETE FROM TestDataset.TestTable WHERE Name = 'John Doe'")
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
mysql_result = mysql_cursor.fetchall()
print(f"DELETE example: {mysql_result}")

---
## Lecture 4: Working with Database Libraries

**Objective:** Learn how to work with data using database libraries in Python.

### Introduction
- **Python Libraries**: Python offers several libraries and tools for data manipulation and analysis. We can leverage these libraries to work with database data effectively.

### Code Demonstration

In [ ]:
# Using pandas for data manipulation
import pandas as pd

# Retrieve data from the database and create a DataFrame
mysql_cursor.execute("SELECT * FROM TestDataset.TestTable")
data = mysql_cursor.fetchall()
df = pd.DataFrame(data, columns=["ID", "Name", "Age"])
print(df)

# Perform data analysis with pandas
average_age = df["Age"].mean()
print(average_age)